.text-type {
  display: inline-block;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: 100;
  opacity: 1;
}

.text-type__cursor--hidden {
  opacity: 0 !important;
}
